{
  "id": "{{component}}",
  "title": "{{component_title}}",
  "description": "{{component_description}}",
  "keywords": "{{keywords}}",
  "specifications": [],
  "expressions": [],
  "jira": {
    "open_issues": "{{jira_open_issues}}",
    "roadmap": "{{jira_project}}"
  },
  "releases": [
    {
      "id": "{{first_release}}",
      "date": "",
      "jira": {
        "crs": "",
        "prs": ""
      }
    }
  ]
}
